body, html {
    height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
h1{font-style: italic;color: white; margin-left:200px;font-size: 50px;width:700px}


.navbar-header a {
    background:transparent;
	font-style: italic;color: white; margin-left:100px;font-size: 60px;
	font-family:Lucida Handwriting;
	text-decoration:none
}
.navbar-right{
margin-top:20px;
margin-right:200px
}

.slide{
width:600px;height:500px;   background-size: cover;
margin: auto;

}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
	margin-left:150px;
	margin-top:20px;
    margin-bottom: 30px;	
	width: 400px;
font-family:Lucida Handwriting;
color:white;
font-style: italic;
font-size: 15px;
}

.thumbnail{
background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.animate-top{
position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s;
}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.welcomemessage{
width:283px;
height:149px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:white;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}



/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}


/*
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    /*background-color: rgb(12, 97, 33); 
}
*/

.table{
background-color: white;
width: 600px;
height: 600px;
margin: 0 auto;
font-size: 30px;
border-radius: 25px;
overflow: hidden
}
.table1{
width:100%;max-width:100%;margin-bottom:20px;margin-bottom:0;border-collapse:collapse!important;}

